.image-zoom {
    overflow: hidden;
    position: relative;
}

.image-zoom img {
    height: 50vh;
    object-fit: cover;
    transition: transform 0.3s ease; /* Adding a smooth transition effect */
}

.image-zoom:hover img {
    transform: scale(1.2); /* Change the scale factor as needed to adjust the zoom level */
}