* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Bitter', serif;
}

ul {
    list-style: none;
}

header{
    background-color: #61a6ab;
    /* position: sticky;
    top: 0;
    z-index: 3; */
}

nav {
    height: 80px;
    background-color: #61a6ab;
}

nav img {
    width: 60px;
    position: absolute;
    top: 7px;
    left: 12%;
}

.sidebar {
    background-color: #61a6ab;
}

.btn-dropdown {
    background-color: #61a6ab;
    color: #fff;
    font-size: 18px;
}

.icon-fb, .icon-insta, .icon-x {
    color: white;
    padding-top: 60px;
    font-size: 40px;
}

.qlinks {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

hr {
    width: 100px;
    border: none; /* Remove the default border */
    border-top: 5px solid #333; /* Set a thicker border with your desired color */
    margin: 5px auto; /* Adjust the margin to control the vertical spacing around the <hr> */
    height: 0; /* Reset the height */
}

.card-img-top {
    height: 45vh;
    border: 1px solid #000;
    border-radius: 20px; 
    box-shadow: 5px 5px #888888;
}

footer {
    background-color: #61a6ab;
}

footer p {
    font-size: medium;
}

footer h1 {
    font-size: 15px;
}

footer a img {
    height: 7rem;
}

.icon-fb, .icon-insta, .icon-x {
    color: white;
    padding-top: 60px;
    font-size: 40px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: medium;
}

/* @media only screen and (max-width: 1024px) {
} */

@media only screen and (max-width: 768px) {
    footer p {
        font-size: 12px;
    }
    
    footer h4 {
        font-size: medium;
    }

    footer h6 {
        font-size: small;
    }
    
    footer a img {
        height: 4rem;
    }

    footer ul {
        padding: 0px;
    }
    
    footer ul li a {
        text-decoration: none;
        color: white;
        font-size: medium;
    }

    .icon-fb, .icon-insta, .icon-x {
        color: white;
        padding-top: 60px;
        font-size: 20px;
    }
    
    .qlinks {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: x-small;
    }
}

@media screen and (max-width: 430px) {

    footer p {
        font-size: 15px;
    }

    footer ul {
        padding: 0px;
    }

    footer ul li a {
        text-decoration: none;
        color: white;
        font-size: xx-small;
    }
    
    footer h4 {
        font-size: medium;
    }

    footer h6 {
        font-size: xx-small;
    }
    
    footer a img {
        height: 4rem;
    }

    .icon-fb, .icon-insta, .icon-x {
        color: white;
        text-align: center;
        padding-top: 60px;
        font-size: 10px;
        display: none;
    }
    
    .qlinks {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}