header {
    background-color: #61a6ab;
}

article {
    height: 80vh;
}

.dudsJewelryLogo {
    height: 5rem;
}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.btnOurProduct {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

h1 {
    font-weight: bold;
    font-family: 'Alex Brush', cursive;
}
